html,
body,
#__nuxt,
#__layout {
  height: 100% !important;
  width: 100% !important;
  margin: 0px;
}

:root {
  /** Couleur de fond **/
  --main-bg-color: #184a73;
  --second-bg-color: #c3423d;
  --third-bg-color: #343f4d;
  --fourth-bg-color: #51aa3a;
  --fifth-bg-color: #bdd7e2;
  /** Couleur de texte **/
  --main-text-color: white;
  --second-text-color: #184a73;
  --third-text-color: black;
  --fourth-text-color: red;
  --min-margin: 0.5em;
}

/** Card **/

.card {
  border-radius: 5px;
  padding: 1em;
  border: solid 1px #2c3e50;
  cursor: pointer;
  transition: all 0.2s linear;
}

.card:hover {
  transform: scale(1.01);
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.2), 0 1px 15px 0 rgba(0, 0, 0, 0.19);
}

.card-footer-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

/** button in content **/

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2em;
  margin: 0.5em;
  border-radius: 5px;
  background: linear-gradient(to right, #16c0b0, #84cf6a);
  font-size: 1em;
  color: white;
  border: none;
  outline: none;
}

.button:hover {
  transform: scale(1.01);
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.2), 0 1px 15px 0 rgba(0, 0, 0, 0.19);
  font-weight: bold;
}
